<!DOCTYPE html>
<html lang="en">
<head>
    <title>Header Parser Microservice for freeCodeCamp</title>
    <meta name="description" content="The second project in the freeCodeCamp Back End Development Certification: Header Parser Microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <main class="container my-5">
        <h1 class="display-3 text-success">Header Parser Microservice</h1>
        <p class="lead">This app will tell you:</p>
        <ul>
            <li>Your IP Address</li>
            <li>The language of your browser</li>
            <li>Your operating system and it's version</li>
        </ul>
        <p>And will output all this in JSON format</p>
        <h2>Cool, huh?</h2>
        <p>You can check it <a href="https://comfortable-draw.glitch.me/api/whoami">right here (just click)</a></p>
    </main>
</body>
</html>