<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Request Header Parser Microservice for freeCodeCamp</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
      <h1>freeCodeCamp RequestHeader Parser Microservice</h1>
      <p>This app will tell you:</p>
      <ul>
        <li>Your IP Address</li>
        <li>The language of your browser</li>
        <li>Your operating system and it's version</li>
      </ul>
      <p>And will output all this in JSON format</p>
      <h2>Try it!</h2>
      <p>
        Check it here: <a href="/api/whoami" target="_blank">/api/whoami</a>
      </p>
    </main>
  </body>
</html>
